<md-toolbar color="warn">
    <img src='assets/image/logo.png' style='width: 45px; margin-top: -5px;'/>
    <span class="example-spacer"></span>
    <button *ngIf="!userInfo.login" md-button (click)="loginWithFacebook()"><i style="font-size: 20pt;" class="fa fa-facebook-square" aria-hidden="true"></i> Login</button>
    <span *ngIf="userInfo.login" md-icon-button [mdMenuTriggerFor]="menu" style='margin-top: 2px;'>
        <span class="shortName">{{userInfo.shortName}}</span>
        <img md-card-image style="border-radius: 50%; width: 45px;" src="{{userInfo.picture}}">
    </span>
    <md-menu #menu="mdMenu" yPosition="below">
        <button md-menu-item (click)="settingNotification()">
            <md-icon>notifications_active</md-icon>
            <span>Cài đặt</span>
        </button>

        <button md-menu-item (click)="logOut()">
            <md-icon>exit_to_app</md-icon>
            <span>Đăng xuất</span>
        </button>
    </md-menu>
</md-toolbar>