<button md-button md-dialog-close md-dialog-close color="warn" style='position: absolute; z-index: 1; background: rgba(255, 255, 255, 0.8); left: calc(50% - 44px); border-radius: 5px;'>Đóng</button>
<md-dialog-content class='bao-dialog-content'>
  <div class="container">

    <div class="row">
      <div class="col-lg-2 col-md-2 col-3" style='text-align: right;'>Địa chỉ:</div>
      <div class="col-lg-10 col-md-10 col-9"><button md-button color="warn" style='margin-top: -5px; position: relative; z-index: 1; background: rgba(255, 255, 255, 0.8); border-radius: 5px;'
          (click)="changeAddress()">Thay đổi</button><b style="color:#009688;">{{userMongo?.address}}</b></div>
    </div>

    <div class="row">
      <div class="col-lg-2 col-md-2 col-3" style='text-align: right; line-height: 35px;'>Giá:</div>
      <div class="col-lg-10 col-md-10 col-9">
        <md-select [(ngModel)]="userMongo.price" name="price" (change)="setPrice()" style='width: 100%;'>
          <md-option *ngFor="let price of prices" [value]="price.value">
            {{price.viewValue}}
          </md-option>
        </md-select>
      </div>
    </div>
    <br><br>

    <div class="row">
      <div class="col-lg-2 col-md-2 col-3" style='text-align: right; line-height: 35px;'>Đối tượng:</div>
      <div class="col-lg-10 col-md-10 col-9">
        <md-select [(ngModel)]="userMongo.sex" name="price" (change)="setPrice()" style='width: 100%;'>
          <md-option *ngFor="let sex of sexTypes" [value]="sex.value">
            {{sex.viewValue}}
          </md-option>
        </md-select>
      </div>
    </div>
    <br><br>

    <div class="row">
      <div class="col-lg-2 col-md-2 col-3" style='text-align: right; line-height: 35px;'>Loại:</div>
      <div class="col-lg-10 col-md-10 col-9">
        <md-select [(ngModel)]="userMongo.find" name="price" (change)="setPrice()" style='width: 100%;'>
          <md-option *ngFor="let find of findTypes" [value]="find.value">
            {{find.viewValue}}
          </md-option>
        </md-select>
      </div>
    </div>
    <br><br>

    <div class="row">
      <div class="col-lg-2 col-md-2 col-3" style='text-align: right; line-height: 35px;'>Thông báo:</div>
      <div class="col-lg-10 col-md-10 col-9">
        <md-select [(ngModel)]="userMongo.typeNotification" name="price" (change)="setTypeNotification()" style='width: 100%;'>
          <md-option *ngFor="let typeNotification of typeNotifications" [value]="typeNotification.value">
            {{typeNotification.viewValue}}
          </md-option>
        </md-select>
      </div>
    </div>

  </div>
</md-dialog-content>